.choice-button{
   -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.choice-panel{
    -fx-padding: 10;
    -fx-spacing: 10;
}
